{{ if isset .Site.Params "about" }}
{{ if .Site.Params.about.enable }}
<section class="bar background-grey no-mb about-home">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ .Site.Params.about.title }}</h2>
                <p class="lead">{{ .Site.Params.about.subtitle }}</p>
                <p class="text-center">
                    <a href="{{ .Site.Params.about.link_url }}" class="btn btn-template-transparent-white btn-lg">{{ .Site.Params.about.link_text }}</a>
                </p>
            </div>

        </div>
    </div>
</section>
{{ end }}
{{ end }}
