.section-banner {
    height:50vh;
    padding: 0;
    margin: 0;
    width: 100%;
    overflow: hidden;
    background-size: cover;
    background-position:center;
    .content {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        font-size:50px;
        line-height:90%;
        text-align:center;
        padding:0 15%;
        @media screen and (max-width:$tablet-width) {
          font-size:40px;
        }
        @media screen and (max-width:$phone-width) {
          font-size:32px;
        }
      }
}