/*** Callout boxes ***/
.callout {
  border-radius: .25rem!important;
  padding: 2rem;
  margin-bottom: 1.5rem;

  
  .fa {
    font-size: 3rem;
  }
  
  .row {
    align-items: center;
  }
  
  a {
	font-family: "AH-Bold", "AH-Regular", Helvetica, Arial, sans-serif;    
    &:hover {
      text-decoration: underline;
    }
  }  
}

/*** Callout box styles -- note that there is no raspberry callout. ***/

.callout,
.callout.grey, .callout.light-grey {
  background-color: $light-grey;
}

.callout.green {
  background-color: $green;
}

.callout.dark-grey {
  background-color: $dark-grey;  
  color: #fff;
}

.callout.orange {
  background-color: $orange;
}

.callout.purple {
  background-color: $purple;
  color: #fff;
}

.callout.black {
  background-color: $black;
  color: #fff;
}

.callout,
.callout.grey,
.callout.green {
  a {
    color: $purple;
  }
}

.callout.purple, 
.callout.black {
  a {
    color: $green;
  }
  
  code {
  	color: $light-grey;
  }
}

.callout.dark-grey { 
  a {
    color: $light-grey;
    text-decoration:underline;
  }
  
  a:hover {
	text-decoration:none;
  }
  
    code {
  	color: $light-grey;
  }
}

.callout.orange { 
  a {
    color: $black;
    text-decoration:underline;
  }
  
   a:hover {
	text-decoration:none;
  }
  
    code {
  	color: $black;
  }
}

/*** CTA buttons ***/

.btn, .btn.green {
  color: #000!important;
  background-color: $green;
}

.btn:hover, .btn:focus {
  opacity:.7;
}

.btn.dark-grey {
  color: #fff!important;
  background-color: $dark-grey;
}

.btn.orange {
  color: #000!important;
  background-color: $orange;
}

.btn.light-grey {
  color: #000!important;
  background-color: $light-grey;
}
		
.btn.raspberry {
  color: #fff!important;
  background-color: $raspberry;
}

.btn.purple {
  color: #fff!important;
  background-color: $purple;
}

.btn.black {
  color: #fff!important;
  background-color: $black;
}