/*** Callout boxes ***/
.callout {
  border-radius: .25rem!important;
  padding: 2rem;
  margin-bottom: 1.5rem;

  
  .fa {
    font-size: 3rem;
  }
  
  .row {
    align-items: center;
  }
  
  a {
    color: #2c2c2c;
    font-weight: bold;
    
    &:hover {
      text-decoration: underline;
    }
  }


  
}


.callout,
.callout.grey, .callout.light-grey {
  border-radius: .25rem!important;
  padding: 2rem;
  background-color: $light-grey;
}

.callout.green {
  background-color: $green;
}

.callout.orange,
.callout.orange {
  background-color: $orange;
}

.callout.black {
  background-color: $black;
}
.callout.dark-grey, 
.callout.black {
  background-color: $dark-grey;  
  a {
    color: $green;
  }
  
}
.callout,
.callout.grey {
  a {
    color: $green;
  }
}
.callout.green,
.callout.orange,
.callout.orange {

  a {
    color: #fff;  
  }
}

.callout.purple {
background-color:$purple;

}


/*** CTA buttons ***/

.btn.green {
  color: #000!important;
  background-color: $green;
}
.btn.orange {
  color: #000!important;
  background-color: $orange;
}
.btn.raspberry {
  color: #fff!important;
  background-color: $raspberry;
}
.btn.purple {
  background-color: $purple;
}