/* Atkinson Hyperlegible for trial 9 Nov 2022 */
@font-face{
    font-family:"AH-Bold";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src:url("fonts/atkinson-hyperlegible/WOFF2/Atkinson-Hyperlegible-Bold-102a.woff2") format("woff2");
}
@font-face{
    font-family:"AH-BoldItalic";
    font-weight: 700;
    font-style: italic;
    font-display: swap;
    src:url("fonts/atkinson-hyperlegible/WOFF2/Atkinson-Hyperlegible-BoldItalic-102a.woff2") format("woff2");
}
@font-face{
    font-family:"AH-RegularItalic";
    font-weight: 400;
    font-style: italic;
    font-display: swap;
    src:url("fonts/atkinson-hyperlegible/WOFF2/Atkinson-Hyperlegible-Italic-102a.woff2") format("woff2");
}
@font-face{
    font-family:"AH-Regular";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src:url("fonts/atkinson-hyperlegible/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2") format("woff2");
}

.material-icons-outlined {
    font-family: 'Material Icons Outlined';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}