/* Multi column layouts */

.shortcode-row:before,
.shortcode-row:after {
    display:table;
    content:" ";
}

.shortcode-row:after {
    clear:both;
}

.shortcode-row .col-md-5,
.shortcode-row .col-md-7 {
  padding-left: 0;
}

.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
  float: left;
}

.centered {
  text-align: center;
}
