.section.section-socials {
  padding: 30px 0;

  div.col-6.col-md-2 {
    padding: 20px 0
  }

  i.fa {
    display: block;
    font-size: 2em;
    color: #505759;
  }

  p, a, a:focus, a:hover {
    color:#505759;
  }

  a, a:focus, a:hover {
    text-decoration: none;
  }

  a:hover span {
    text-decoration: underline;
  }
}