.section-subscribe {
    .row > div {               
        @media screen and (max-width:$tablet-width) {
            div {
                text-align:left;
                
            }
            &:nth-child(2) {
                margin-top:40px;
            }

        }
    }
}

/*!
* Mailchimp stylings
*/#mc_embed_signup form {
    padding: 0;
}
#mc_embed_signup .button {
    background-color: #da3200;
}
#mc_embed_signup input {
    border: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}
#mc_embed_signup h2,
.section-subscribe h2 {
    margin: 0;
    font-size: 1.2em;
    text-transform: none;
    font-weight: 600;
}
#mc-embedded-subscribe {
  margin: 0;
}
#mc_embed_signup .mc-field-group {
    width: 80%;
    padding-top: .5em;
}
#mc_embed_signup #mce-error-response, #mc_embed_signup #mce-success-response {
    color: #505759;
}
.required {
    color: #999;
    text-transform: none;
}
