$phone-width: 420px;
$tablet-width: 768px;
$desktop-width: 1024px;

$section-background: #efefef;

/** Fonts **/
$alt-font-stack: "AH-Regular", Helvetica, Arial, sans-serif;
$font-light: "AH-Regular", $alt-font-stack;
$font-light-italic: "AH-RegularItalic", $alt-font-stack;
$font-regular: "AH-Regular", $alt-font-stack;
$font-regular-italic: "AH-RegularItalic", $alt-font-stack;
$font-medium: "AH-Bold", $alt-font-stack;
$font-medium-italic: "AH-BoldItalic", $alt-font-stack;
$font-bold: "AH-Bold", $alt-font-stack;
$font-bold-italic: "AH-BoldItalic", $alt-font-stack;


/** Theme colours **/
$theme-green: #53baa1;
$theme-dark-grey: #505759;
$theme-orange: #e89005;
$theme-light-grey: #efefef;
$theme-raspberry: #e0004d;
$theme-purple: #520c70;
$theme-black: #293030;

/* ROR brand colours from https://coolors.co/53baa1-40a08a-505759-e89005-efefef-e0004d-520c70 */
$green: #53baa1;
$dark-grey: #505759;
$orange: #e89005;
$light-grey: #efefef;
$raspberry: #e0004d;
$purple: #520c70;
$black: #293030;