$phone-width: 420px;
$tablet-width: 768px;
$desktop-width: 1024px;

$section-background: #eeeeee;

/** Fonts **/
$alt-font-stack: "AH-Regular", Helvetica, Arial, sans-serif;
$font-light: "AH-Regular", $alt-font-stack;
$font-light-italic: "AH-RegularItalic", $alt-font-stack;
$font-regular: "AH-Regular", $alt-font-stack;
$font-regular-italic: "AH-RegularItalic", $alt-font-stack;
$font-medium: "AH-Bold", $alt-font-stack;
$font-medium-italic: "AH-BoldItalic", $alt-font-stack;
$font-bold: "AH-Bold", $alt-font-stack;
$font-bold-italic: "AH-BoldItalic", $alt-font-stack;


/** Original theme colours **/
$theme-green: #53baa1;
$theme-dark-grey: #505759;
$theme-orange: #da3200;
$theme-light-grey: #efefef;
$theme-coral: #e0004d;
$theme-black: #293030;

/* ROR brand colours from https://coolors.co/53baa1-505759-da3200-e89005-d3bdb0 plus a very dark grey for use as black */
$green: #53baa1;
$dark-grey: #505759;
$light-grey: #efefef;
$orange: #da3200;
$mustard: #e89005;
$purple: #520c70;
$beige: #d3bdb0;
$black: #293030;