<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body class="{{ .Section }}">
    <div class="wrapper" id="all">
<div class="info-search">
    <nav class="navbar  navbar-light navbar-expand-lg bg-white">
        
  <div class="container-fluid">
    <a class="navbar-brand d-block" href="/">
      <img class="pl-0 pr-0" src="/assets/ror-logo.svg" alt="Research Organization Registry">
    </a>
    <div id="search">
      <form class="form-inline mw-25" role="search">
        <input name="query" id="query" class="form-control" placeholder="Search Registry...">
      </form>
    </div>

    <button class="navbar-toggler collapsed" type="button">
    <span class="navbar-toggler-icon"></span>
</button>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/about/">
            <p>About</p>
          </a>    
</li>
        <li class="nav-item">
        <a class="nav-link" href="/registry/">
          <p>Registry</p>
        </a>
</li>

        <li class="nav-item">
        <a class="nav-link" href="/community/">
          <p>Community</p>
        </a>
</li>
        <li class="nav-item">
        <a class="nav-link" href="/events/">
          <p>Events</p>
        </a>
        
</li>

        <li class="nav-item">
  

        <a class="nav-link" href="/blog/">
          <p>Blog</p>
        </a>
        
</li>

        <li class="nav-item">
  
        <a class="nav-link external" href="https://ror.readme.io">
          <p>Documentation <i class="fa-solid fa-external-link"></i></p>
        </a>
        
</li>

      
</ul>
    

</div>


  </div>

  </nav>



<div class="content">

  <div class="container-fluid">
    <div class="ml-4 ror-search-home">
        <a id="ember81" class="ember-view" href="/search"><i class="fa fa-caret-left" aria-hidden="true"></i> ROR search home page</a>
    </div>
    <div id="ember82" class="ember-view"><div class="row">
  <div class="col-md-12">
    <div class="card card-app">
      <div class="card-body">
        <div class="card-title">
          <div class="row">
            <div class="col-lg-9 col-sm-12">
            
            {{ $lizdata := .Site.Data.liz }}
 
              <h2>
                <img class="ror-id mb-1" src="/assets/ror-logo-small.png" alt="ROR ID"> <a href="{{ .Site.Data.liz.id }}">{{ .Site.Data.liz.id }}</a>
              </h2>
            </div>
          </div>
        </div>
        <hr>
        <div class="font-weight-normal">
          <div class="row">
            <div class="col-md-12">
              <h2 class="card-title text-default">The Liz Krznarich is a ***Star*** Society</h2>
            </div>
            <div class="col-md-6">
              <h3 class="mt-3 mb-0">Organization types</h3>
              <span class="text-default">Nonprofit</span><br />
                  <h3 class="mt-3 mb-0 mr-2 d-inline-block">Other names</h3><br />
                 TKTKTK 
                   TKTKTK 
                     TKTKTK 
                        <span class="text-default mt-3 mb-3 font-weight-bold">Acronyms </span><br>
                            <span class="text-default">LZKRZ4EVA</span><br />
                         TKTKTK 
                     TKTKTK 
                   TKTKTK 
                 TKTKTK 
               TKTKTK 
             TKTKTK 
            </div>
            <div class="col-md-6">
             TKTKTK 
                <h3 class="mt-3 mb-0">Locations</h3>
               TKTKTK 
                 TKTKTK 
                    <span class="text-default">TKTKTK </span><br>
                 TKTKTK 
               TKTKTK 
             TKTKTK 
             TKTKTK 
                <h3 class="mt-3 mb-0">Website</h3>
               TKTKTK 
                 TKTKTK 
                    <a target="_blank" rel="noopener" class="card-link" href="">TKTKTK</a><br>
                 TKTKTK 
               TKTKTK 
             TKTKTK 
             TKTKTK 
                <h3 class="mt-3 mb-0">Other Identifiers</h3>
               TKTKTK 
                <span class="text-default">GRID</span>TKTKTK <br>
               TKTKTK 
               TKTKTK 
                  <span class="text-default">ISNI</span> <a target="_blank" rel="noopener" class="card-link" href="http://isni.org/isni/TKTKTK">TKTKTK </a><br>
               TKTKTK 
               TKTKTK 
                  <span class="text-default">Crossref Funder ID</span> <a target="_blank" class="card-link" rel="noopener" href="https://api.crossref.org/funders/TKTKTK">TKTKTK </a><br>
               TKTKTK 
               TKTKTK 
                  <span class="text-default">Wikidata</span> <a target="_blank" rel="noopener" class="card-link" href="https://www.wikidata.org/wiki/TKTKTK">TKTKTK </a><br>
               TKTKTK 
             TKTKTK 
            </div>
          </div>
         TKTKTK 
            <div class="row">
                <div class="col-md-12">
                  <h3 class="mt-3 mb-0">Relationships</h3>
                         <span class="text-default mt-3 mb-3 font-weight-bold">Related Organizations</span><br>
                           <a target="_blank" rel="noopener" class="card-link mt-1" href="https://ror.org/02kj3rm24">Wisconsin Geological and Natural History Survey</a><br>
                </div>
            </div>
        </div>
        <div class="footer text-left pb-0 ml-3">
            <p class="mt-3 mb-0"><i>Some record data is not displayed in this view. <a target="_blank" rel="noopener" href="/liz.json">See JSON view for full record data</a></i></p>
            <p class="mt-3 mb-0">
              <i>Record last modified {{ .Site.Data.liz.admin.last_modified.date }}. Is there an issue with the data on this record? <a target="_blank" rel="noopener" href="/liz-request">Suggest a change</a>
              </i>
            </p>
        </div>
      </div>
    </div>
  </div>
</div>

 

 

    </div>

    {{ partial "subscribe.html" . }}
    {{ partial "socials.html" . }}
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>


