<div class="clearfix">

<p class="authordate">
By 

{{- range $index, $author := .GetTerms "authors" }}
{{- if gt $index 0 }}, {{- end }}

<a href="/authors/{{ .Page.Title | urlize }}">{{- .Page.Title }}</a>

{{- end }} | {{ .Date.Format "January 2, 2006" }}

</p>

{{ if .Params.doi }}
<p class="postmetadata">
DOI: <a href="{{ .Params.doi }}">{{ .Params.doi }}</a>
</p>
{{ else }}
{{ end }}

{{ if .Params.crosspost }}
<p class="postmetadata">
Cross-posted: <a href="{{ .Params.crosspost }}">{{ .Params.crosspost }}</a>
</p>
{{ else }}
{{ end }}


<!-- The ideal logic here: if either categories or tags exist, put them in a styled paragraph: if not, then end. If both categories and tags exist, put a comma after each category (there should be only one but should check if we're coding defensively). However for now since all blog posts have categories and tags we'll keep it simple. -->


{{- range $index, $categories := .GetTerms "categories" }}

<p class="postmetadata">

<a href="/categories/{{ .Page.Title | urlize }}">{{- .Page.Title }}</a> 
{{- if ge $index 0 }}, {{- end }}
{{- end }}

{{- range $index, $tag := .GetTerms "tags" }}
{{- if gt $index 0 }}, {{- end }}

<a href="/tags/{{ .Page.Title | urlize }}">{{- .Page.Title }}</a>{{- end }}

</p>
</div>
