<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>
    <div class="wrapper" id="all">
      <header>
        {{ partial "nav.html" . }}
      </header>

      <div class="container">
        <div class="col-sm-6 col-sm-offset-3" id="error-page">
          <div class="card-plain">
            <h3 class="card-title">Oh no! This doesn't exist! How did you even get here? 😳</h3>
            <h4 class="text-muted">404 - page not found</h4>

            <p><a href="/" class="btn btn-round btn-sm"><i class="fa fa-home"></i> Go to Homepage</a>
          </div>
        </div>
      </div>
    </div>

    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}

  </body>
</html>
  