<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body>
    <div class="wrapper" id="all">

      <header>
        {{ partial "nav.html" . }}
      </header>
      {{ partial "carousel.html" . }}

      {{ partial "carousel.html" . }}
      {{ partial "landingbanner.html" . }}		
      {{ partial "blurb.html" . }}
      {{ partial "features.html" . }}
      {{ partial "testimonials.html" . }}
      {{ partial "about.html" . }}
      {{ partial "recent_posts.html" . }}
      {{ partial "clients.html" . }}

    </div>

    {{ partial "subscribe.html" . }}
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}

  </body>
</html>
