<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body class="{{ .Section }}">
    <div class="wrapper" id="all">
      <header>
        {{ partial "nav.html" . }}
      </header>
      <section class="section section-banner" id="content">

       {{ partial "pagetitle.html" . }}
       
       {{ partial "breadcrumbs.html" . }}

        <div class="section container">
          <div class="row">
            <div class="col-md-9" id="blog-post">
                   {{ partial "authors.html" . }} 
              <div id="post-content">
                {{ .Content }}
              </div>
            </div>
    
            <div class="col-md-3">
            <!-- *** MENUS AND WIDGETS *** -->
    
              {{ partial "sidebar.html" . }}
    
            <!-- *** MENUS AND FILTERS END *** -->
    
            </div>
          </div>
        </div>
      </section>
    </div>

    {{ partial "subscribe.html" . }}
    {{ partial "socials.html" . }}
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>
