<ul class="blogauthors">
{{ range .GetTerms "authors" }} 
  <li class="blogauthor"><a href="/authors/{{ .Page.Title | urlize }}">{{ .Page.Title }}</a>
  {{ with .Page.Params.orcid }} <a href="{{ . }}"><img src="/img/ORCID-iD_icon_vector.svg"></a>{{ end }}
  {{ with .Page.Params.ror }} <a href="{{ . }}"><img src="/img/ror-icon-rgb.svg"></a>{{ end }}
  {{ with .Page.Params.link }} <a href="{{ . }}"><img src=""></a>{{ end }}
  </li> 

{{ end }}

</ul>

<span class="single-date">{{ .Date.Format "January 2, 2006" }}</span>

<hr />
