<section class="breadcrumbs-wrap">
	<div class="container breadcrumbs-wrap">
		<div class="row">
			<div class="col-md-9 mr-auto">
				<div role="navigation" aria-label="breadcrumbs navigation">
					{{ $.Scratch.Set "path" "" }}
					{{ $.Scratch.Set "pagetype" .Params.type }}
					<ul class="breadcrumbs">
						<li><a href="{{ .Site.BaseURL }}">Home</a>{{ if not (eq .Permalink "/")  }}<span>&gt;</span>{{ end }}</li>
						
						{{ if eq .Title "Eventarchives"}}
						<li>Event Archives</li>
						
						{{ else if eq .Title "Eventtypes"}}
						<li>Event Types</li>		
						
							{{else if eq ($.Scratch.Get "pagetype") "404" }}
								<li>{{ $.Title | title }}</li>
							{{ else }}

								{{ range $index, $element := split .RelPermalink "/" }}
						
									{{ $.Scratch.Add "path" $element }}
						
									{{ $.Scratch.Set "relURL" (replace ($.Scratch.Get "path") ( printf "%s/" $.Site.BaseURL) "" )}}
						
									{{ $.Scratch.Add "path" "/" }}
						
									<!-- Check if the current list item is the last one -->
									{{ $isLast := eq ($.Scratch.Get "path") $.RelPermalink }}
									{{ if ne $element "" }}
										{{ if not $isLast }}
											{{ if or ( eq (title ( replace . "-" " ")) "Categories" ) ( eq (title ( replace . "-" " ")) "Tags" ) ( eq (title ( replace . "-" " ")) "Archives" )}}
												<li><a href='/blog/'>Blog</a><span>&gt;</span></li>		
												
											{{ else if or ( eq (title ( replace . "-" " ")) "Eventtypes" ) ( eq (title ( replace . "-" " ")) "Eventarchives" )}}		
								<li><a href='/events/'>Events</a><span>&gt;</span></li>												

											{{ else }}
												<li><a href='{{ $.Scratch.Get "path" }}'>{{ with $.Site.GetPage "section" ($.Scratch.Get "relURL") }}{{ .Title | title }}{{ end }}</a><span>&gt;</span></li>
											{{ end }}
										
								
										{{ else }}
											<li>{{ $.Title | title }}</li>
										{{ end }}
									{{ end }}
								{{ end }}
							{{ end }}
					</ul>
				
				</div>
			</div>
		</div>
	</div>
</section>
