<div class='contact-shortcode'>

	<div id="mc_embed_signup">

			<div id="mc_embed_signup_scroll">

				<h2>Subscribe to the ROR newsletter</h2> 
<a target="_blank" class="btn btn-sm btn-round red" rel="noopener" href="http://eepurl.com/gjkT9H">Subscribe</a>

			</div>

	</div>

<!--

  	<div id="mc_embed_signup">
    	<form action="https://community.us19.list-manage.com/subscribe/post?u=aee25ddaad81d812beac34761&amp;id=dd53f61289" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				<div class="mc-field-group">
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address*">
				</div>
				<div id="mce-responses" class="clear">
					<div class="response" id="mce-error-response" style="display:none"></div>
					<div class="response" id="mce-success-response" style="display:none"></div>
				</div>
				
				<div style="position: absolute; left: -5000px;" aria-hidden="true">
					<input type="text" name="b_aee25ddaad81d812beac34761_dd53f61289" tabindex="-1" value="">
				</div>
				<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-sm btn-round red"></div>
			</div>
    	</form>
  	</div>
  	
-->  	

</div>