<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="{{ "img/apple-icon.png" | relURL }}">
  <link rel="icon" type="image/png" href="{{ "img/favicon.png" | relURL }}">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>{{.Site.Title}}</title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
  <link href="//cdnjs.cloudflare.com/ajax/libs/cc-icons/1.2.1/css/cc-icons.min.css" rel="stylesheet">
    <!-- CSS Files -->
  <link rel="stylesheet" href="https://ror.org/assets/ror-app-9f4e0fa740e9f8bdddffb3b04265d005.css" />
  
{{ range .Site.Params.custom_css -}}
  <link rel="stylesheet" href="{{ . | absURL }}">
{{- end }}
</head>