{{ if isset .Site.Params "homepage_features" }}
{{ if .Site.Params.homepage_features.enable }}
{{ if gt (len .Site.Data.homepage_features) 0 }}
<section id='homepage-features' class="section bar background-white section-features">
    <div class="container">
        <div class="row">
            {{ range sort .Site.Data.homepage_features "weight" }}
            <div class="col-md-12">
                <div class="row feature">
                    <div class="col-md-5">
                        <div class="icon" style="background-image:url({{ .icon }});">
                        </div>
                    </div>
                    <div class="col-md-7">
                        <p>{{ .description }}</p>
                        
                        <a href="{{ .link_url }}" class="btn btn-sm btn-round mustard"><h3 style="margin: 0 40px 0 40px;">{{ .name }}</h3></a>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
