<nav class="navbar navbar-expand-lg bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="https://ror.org/">
        <img class="w-50 pl-0 pr-3" src="https://ror.org/assets/ror-logo.svg" alt="Research Organization Registry logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#example-navbar-transparent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav ml-0 mr-auto w-50">
          <form class="form-inline ml-0 w-75" action="https://ror.org/search" method="get" role="search">
            <input name="query" class="form-control w-75" placeholder='Search Registry...'>
          </form>
        </ul>
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/about">
              <p>About</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/scope">
              <p>Scope</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog">
              <p>Blog</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" rel="noopener" href="https://twitter.com/ResearchOrgs">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
<!-- *** NAVBAR END ***-->
