<nav class="navbar navbar-expand-lg bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ .Site.BaseURL }}">
          <img class="w-50 pl-0 pr-0 d-none d-sm-inline" src="{{ $.Site.Params.cdnURL }}assets/ror-logo.svg" alt="Research Organization Registry logo">
          <h4 class="d-block d-sm-none mt-3">ROR</h4>
      </a>
      
      <form class="form-inline mw-25" action="{{ .Site.BaseURL }}search" method="get" role="search">
        <input name="query" class="form-control" placeholder='Search Registry...'>
      </form>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-bar bar1"></span>
        <span class="navbar-toggler-bar bar2"></span>
        <span class="navbar-toggler-bar bar3"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/about">
              <p>About</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/scope">
              <p>Scope</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/facts">
              <p>Facts</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/community">
              <p>Community</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/resources">
              <p>Resources</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog">
              <p>Blog</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog">
              <p>Test</p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" target="_blank" rel="noopener" href="https://twitter.com/ResearchOrgs">
              <i class="fa fa-twitter"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
<!-- *** NAVBAR END ***-->