<div class="page-banner jumbotron"{{if .Params.banner }} style="background:url('{{ .Params.banner }}') center center no-repeat;" {{ end }}>
  <div class="container">
    <div class="row">
      <div class="col-md-9 mr-auto">
        {{ if isset .Params "categories" }}
        {{ if gt (len .Params.categories) 0 }}
        <h6 class="category mt-3"><a class="category-link" href="{{ $.Site.BaseURL }}categories/{{ index .Params.categories 0 | urlize | lower }}">{{ index .Params.categories 0 }}</a></h6>
        {{ end }}
        {{ end }}
        <h1>{{ .Title }}</h1>
      </div>
    </div>
  </div>
</div>