<div class="page-banner jumbotron" style="background:url('{{ if .Params.banner }}{{ .Params.banner }}{{ else }}/img/banners/ROR_Banner-green.png{{ end }}') center center no-repeat;">
  <div class="container">
    <div class="row">
      <div class="col-md-12 mr-auto">
        
        {{ if eq .Title "Eventarchives" }}
        <h1 id="page-title">Event Archives</h1>
        {{ else if eq .Title "eventtypes"}}
        <h1 id="page-title">Event Categories</h1>
        {{ else if eq .Title "Eventtags"}}
        <h1 id="page-title">Event Tags</h1>
        {{ else }}
        <h1 id="page-title">{{ .Title | title }}</h1>
        {{ end }}
      </div>
    </div>
  </div>
</div>