<div class="clearfix">

<p class="authordate">
By 

{{- range $index, $author := .GetTerms "authors" }}
{{- if gt $index 0 }}, {{- end }}

<a href="/authors/{{ .Page.Title | urlize }}">{{- .Page.Title }}</a>

{{- end }} | {{ .Date.Format "January 2, 2006" }}

</p>

{{ if .Params.doi }}
<p class="doi">
<a href="{{ .Params.doi }}">{{ .Params.doi }}</a>
</p>
{{ else }}
{{ end }}

{{ if .Params.crosspost }}
<p class="doi">
Cross-posted at <a href="{{ .Params.crosspost }}">{{ .Params.crosspost }}</a>
</p>
{{ else }}
{{ end }}

</div>
