{{ if isset .Site.Params "recent_posts" }}
{{ if .Site.Params.recent_posts.enable }}
<section id="recent-posts" class="section bar background-white no-mb">
    <div class="container">

        <div class="row">

            <div class="col-md-12">
                <div class="heading text-center">
                    <h2>{{ .Site.Params.recent_posts.title }}</h2>
                </div>

                <!-- *** Recent posts *** -->
                <div class="row">
                    
                    {{ $posts := .Paginate (where .Site.RegularPages "Section" "blog") }}
                    {{ range first 3 $posts.Pages }}
                    <div class="col-md-4 col-sm-6 news-item">
                        <div class="box-image-text blog">
                            <div class="top">
                                <div class="image" style="background-image:url({{ if isset .Params "thumb" }}{{ .Params.thumb }}{{ else }}/img/banners/ROR_Banner-green.jpg{{ end }});">
                                </div>
                            </div>

                            <div class="content">                                
                                <h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
                                <p class="intro">{{ if .Params.description }}{{ .Params.description }}{{ else }}{{ .Summary | plainify | safeHTML }}{{ end }}</p>

       {{ partial "authors-date.html" . }}
       
        <p class="read-more">
        <a href="{{ .Permalink }}" class="btn btn-sm btn-round orange">Continue reading</a>
        </p>

                            </div>
                        </div>
                        <!-- /.box-image-text -->

                    </div>
                    {{ end }}

                </div>
                <p class="view-all">
                    <a href="/blog" class="btn btn-sm btn-round purple">View all blog posts</a>
                </p>
                <!-- /.row -->

                <!-- *** BLOG HOMEPAGE END *** -->

            </div>
        </div>
    </div>
        
    <!-- /.container -->
</section>
<!-- /.bar -->
{{ end }}
{{ end }}
