<section class="section section-subscribe" data-background-color="light-grey" id="browse-request">
  <div class="container">
    <div class="row">
	    <div class="col-md-6 text-center">
				<a target="_blank" class="btn btn-sm btn-round mustard" rel="noopener" href="/search">Go to the search page to browse ROR</a>      	</div>

	    <div class="col-md-6 text-center">
			<div>
				<a target="_blank" class="btn btn-sm btn-round mustard" rel="noopener" href="https://curation-request.ror.org">Request an addition or update to ROR</a>
			</div>
	    </div>

    </div>
  </div>
</section>