<section id="search" class="section">
    <div class="container">
        <div class="row">            
            <div class="col-md-12">
                <div>
                    
                    <form class="form-inline mw-25" action="{{ .Site.BaseURL }}search" method="get" role="search">
                        <input name="query" class="form-control" placeholder='Search Registry...'>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>