<section class="section section-blog" data-background-color="green">
  <div class="container">
    <div class="row">
	    <div class="col-md-6 text-left">
				{{ partial "footer/subscribe.html" . }}
      </div>

	    <div class="col-md-6 text-right">
        <h4 class="text-dark">
          Read more <a href="/about/">about ROR</a>
        </h4>
        <h4 class="text-dark">
          Get in touch with the <a href='mailto:info@ror.org'>ROR</a> team by email
        </h4>
	    </div>
    </div>
  </div>
</section>
