<section class="section section-subscribe" data-background-color="green">
  <div class="container">
    <div class="row">
	    <div class="col-md-6 text-left">
				{{ partial "footer-subscribe.html" . }}
      	</div>

	    <div class="col-md-6 text-right">
			<h2>Suggest an addition or update to ROR</h2>
				<a target="_blank" class="btn btn-sm btn-round red" rel="noopener" href="https://curation-request.ror.org">Submit a curation request</a>
			</p>
	    </div>

    </div>
  </div>
</section>
