<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body class='taxonomy'>
    <div class="wrapper" id="all">
      <header>
        {{ partial "nav.html" . }}
      </header>
      <section class="section section-banner" id="content">

       {{ partial "pagetitle.html" . }}
       
       {{ partial "breadcrumbs.html" . }}

        <div class="section container">
          <div class="row">
            <div class="col-md-9">


             <section>                       
                       <h2>{{ .Title }}</h2>
                       
                       {{ if .Params.orcid }}
                       <p>ORCID: <a href="{{ .Params.orcid }}">{{ .Params.orcid }}</a></p>
                       {{ end }}
                       
                        {{ if .Params.affiliation }}
                       <p>Affiliation: {{ .Params.affiliation }}{{ if .Params.ror }} - 
                       {{ .Params.ror }}{{ end }}</p>
                       {{ end }}
                       
                       {{ if .Params.link }}
                       <p>Link: <a href="{{ .Params.link }}">{{ .Title }}</a></p>
                       {{ end }}
                       

		  {{ .Content }}
		  

			</section>
                            
<section>             
                    		 
                    		 
<hr />

              <h3>{{ .Title }}'s posts</h3>
            
              {{ $authorposts := where .Data.Pages "Type" "blog" }}
              {{ range $authorposts }}          

                <section class="post">
                  <div class="row">
                      <div class="col-md-12">
                      <ul>
                      <li><a href="{{ .Permalink }}">{{ .Title }}</a> - {{ .Date.Format "Jan 02, 2006" }}</li>
                      </ul>

                        </div>
                    </div>
                </section>
              {{ end }}              
                            
            </section>

 
                            
            </div>

            <div class="col-md-3">

              <!-- *** MENUS AND WIDGETS *** -->

              {{ partial "sidebar.html" . }}

              <!-- *** MENUS AND FILTERS END *** -->

            </div>
          </div>
        </div>
      </section>
    </div>

    {{ partial "subscribe.html" . }}
    {{ partial "socials.html" . }}
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>