<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body class='taxonomy'>
    <div class="wrapper" id="all">
      <header>
        {{ partial "nav.html" . }}
      </header>
      <section class="section section-banner" id="content">

       {{ partial "pagetitle.html" . }}
       
       {{ partial "breadcrumbs.html" . }}

        <div class="section container">
          <div class="row">
            <div class="col-md-9">


             <section>
                       <p>Hi I'm the author template</p>
                       
                       <h2>{{ .Title }}</h2>
                       
                       {{ if .Params.orcid }}
                       <p>ORCID: {{ .Params.orcid }}</p>
                       {{ end }}
                       
                        {{ if .Params.affiliation }}
                       <p>Affiliation: {{ .Params.affiliation }}{{ if .Params.ror }} - 
                       {{ .Params.ror }}{{ end }}</p>
                       {{ end }}
                       

		  {{ .Content }}
		  

			</section>
                            
<section>             
                    		 
                    		 
            <h2>{{ .Title }}'s posts</h2>

            
              {{ $paginator := .Paginate (where .Data.Pages "Type" "blog") }}
              {{ range $paginator.Pages }}
              


                <section class="post">
                  <div class="row">
                      <div class="col-md-12">
<h3><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
{{ partial "authors-date.html" . }}
                        </div>
                    </div>
                </section>
              {{ end }}
              
              
              {{ partial "pagination.html" . }}
              
                            
            </section>

 
                            
            </div>

            <div class="col-md-3">

              <!-- *** MENUS AND WIDGETS *** -->

              {{ partial "sidebar.html" . }}

              <!-- *** MENUS AND FILTERS END *** -->

            </div>
          </div>
        </div>
      </section>
    </div>

    {{ partial "subscribe.html" . }}
    {{ partial "socials.html" . }}
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>