<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body class='taxonomy'>
    <div class="wrapper" id="all">
      <header>
        {{ partial "nav.html" . }}
      </header>
      <section class="section section-banner" id="content">

       {{ partial "pagetitle.html" . }}
       
       {{ partial "breadcrumbs.html" . }}

        <div class="section container">
          <div class="row">
            <div class="col-md-9">
            
              {{ $paginator := .Paginate (where .Data.Pages "Type" "events") }}
              {{ range $paginator.Pages }}

                <section class="post">
                  <div class="row">
                      <div class="col-md-12">
                        {{ if isset .Params "eventcategories" }}
                          {{ if gt (len .Params.eventcategories) 0 }}
                          <strong class="blog-category"><a class="category-link" href="{{ $.Site.BaseURL }}eventcategories/{{ index .Params.eventcategories 0 | urlize | lower }}">{{ index .Params.eventcategories 0 }}</a></strong>
                          {{ end }}
                        {{ end }}
                        <h2><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                          <ul>
                            <li class="date-comments">
                                Date: {{ .Date.Format .Site.Params.date_format }}
                            </li>
                          <li class="intro">Description: {{ .Description }}</li>
                          </ul>
                          <p class="read-more"><a href="{{ .Permalink }}" class="btn btn-sm btn-round mustard">See all event details</a></p>
                          <hr />
                        </div>
                    </div>
                </section>
              {{ end }}
              
              
              {{ partial "pagination.html" . }}
              
                            
            </div>

            <div class="col-md-3">
              {{ partial "eventsidebar.html" . }}
            </div>
            
          </div>
        </div>
      </section>
    </div>

    {{ partial "subscribe.html" . }}
    {{ partial "socials.html" . }}
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>




<!-- original 
{{ define "body" }}
<section>
  <div>
    <h1 id="title">{{ .Title }}</h1>
    <ul>
    {{ $data := .Data }}
    {{ range $key, $value := .Data.Terms.ByCount }}
      <li><a href="/{{ $data.Plural }}/{{ $value.Name | urlize }}">{{ $value.Name }}</a> {{ $value.Count }}</li>
    {{ end }}
    </ul>
  </div>
</section>
{{ end }}

-->