<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body class='taxonomy'>
    <div class="wrapper" id="all">
      <header>
        {{ partial "nav.html" . }}
      </header>
      <section class="section section-banner" id="content">

       {{ partial "pagetitle.html" . }}
       
       {{ partial "breadcrumbs.html" . }}

        <div class="section container">
          <div class="row">
            <div class="col-md-9">
            
	{{ $sortedPages := (.Pages.ByParam "startdate").Reverse }}
	{{ $paginator := .Paginate $sortedPages }}
	{{ range $index, $page := $paginator.Pages }}

                <section class="post">
                  <div class="row">
                      <div class="col-md-12">
                        {{ if isset .Params "eventtypes" }}
                          {{ if gt (len .Params.eventtypes) 0 }}
                          <strong class="category-link">{{ index .Params.eventtypes 0 }}</strong>
                          {{ end }}
                        {{ end }}
                        <h3 class="event-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
			   <p><strong>
               {{ if .Params.startdate }}{{ .Params.startdate | time.Format "Monday, January 2, 2006" }}{{if .Params.enddate }} - {{ .Params.enddate | time.Format "Monday, January 2, 2006" }}{{ else }}{{ end }}</strong></p>
               {{ else }}
               {{ end }}
               {{ if .Description }}
               <p>{{ .Description | markdownify }}</p>
               {{else}}{{end}}
                          <p class="read-more"><a href="{{ .Permalink }}" class="btn btn-sm btn-round mustard">See all event details</a></p>
                          <hr />
                        </div>
                    </div>
                </section>
              {{ end }}
              
              
              {{ partial "pagination.html" . }}
              
                            
            </div>

            <div class="col-md-3">
              {{ partial "eventsidebar.html" . }}
            </div>
            
          </div>
        </div>
      </section>
    </div>

    {{ partial "subscribe.html" . }}
    {{ partial "socials.html" . }}
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>