<!DOCTYPE html>
<html lang="en">

  {{ partial "head.html" . }}

  <body class='taxonomy'>
    <div class="wrapper" id="all">
      <header>
        {{ partial "nav.html" . }}
      </header>
      <section class="section section-banner" id="content">

       {{ partial "pagetitle.html" . }}
       
       {{ partial "breadcrumbs.html" . }}

        <div class="section container">
          <div class="row">
            <div class="col-md-9">
            
              {{ $paginator := .Paginate (where .Data.Pages "Type" "events") }}
              {{ range $paginator.Pages }}

                <section class="post">
                  <div class="row">
                      <div class="col-md-12">
                        {{ if isset .Params "eventcategories" }}
                          {{ if gt (len .Params.eventcategories) 0 }}
                          <strong class="blog-category"><a class="category-link" href="{{ $.Site.BaseURL }}eventcategories/{{ index .Params.eventcategories 0 | urlize | lower }}">{{ index .Params.eventcategories 0 }}</a></strong>
                          {{ end }}
                        {{ end }}
                        <h2><a href="{{ .Permalink }}">{{ .Title | title }}</a></h2>
                          <ul>
              {{ if .Params.startdate }}
               <li>Date{{if .Params.enddate}}s{{else}}{{end}}: {{ .Params.startdate | time.Format "Monday, January 2, 2006" }}{{if .Params.enddate }} - {{ .Params.enddate | time.Format "Monday, January 2, 2006" }}{{ else }}{{ end }}</li>
               {{ else }}
               {{ end }}
                          <li class="intro">Description: {{ .Description }}</li>
                          </ul>
                          <p class="read-more"><a href="{{ .Permalink }}" class="btn btn-sm btn-round mustard">See all event details</a></p>
                          <hr />
                        </div>
                    </div>
                </section>
              {{ end }}
              
              
              {{ partial "pagination.html" . }}
              
                            
            </div>

            <div class="col-md-3">
              {{ partial "eventsidebar.html" . }}
            </div>
            
          </div>
        </div>
      </section>
    </div>

    {{ partial "subscribe.html" . }}
    {{ partial "socials.html" . }}
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>