<!DOCTYPE html>
<html lang="en">
  
  {{ partial "head.html" . }}

  <body class="{{ .Section }}">
    <div class="wrapper" id="all">
      <header>
        {{ partial "nav.html" . }}
      </header>
      <div class="section section-banner" id="content">

       {{ partial "pagetitle.html" . }}
       
       {{ partial "breadcrumbs.html" . }}

        <div class="section container">
          <div class="row">
            <div class="col-md-12 mr-auto">
              <div>
        
        {{ partial "toc.html" . }}
      
                {{ .Content }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ partial "subscribe.html" . }}
    {{ partial "socials.html" . }}
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}
  </body>
</html>
