<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}

  <body {{ if .Params.style }} class='{{ .Params.style }}' {{ end }}>
    <div class="wrapper" id="all">
      <header>
        {{ partial "nav.html" . }}
      </header>
      <div class="section section-blog" id="content">
        <div class="container-fluid">
        
          {{ partial "pagetitle.html" . }}
          <div class="row">
            <div class="col-md-9 mr-auto">
              <div>
                {{ .Content }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ partial "sub-footer.html" . }}
    {{ partial "footer.html" . }}
    {{ partial "scripts.html" . }}

  </body>
</html>
